<ng-generic-carousel 
	[elements]="['Jessie', 'Joe', 'Jennifer', 'Jeremy', 'Joanne', 'Jason']"
	[placeholderElementsCount]="2" 
	[hideNavigationButtons]="false"
	[hideNavigationButtonsWhenNotNeeded]="false"
	[isRoundNavigation]="true" 
	[isDragDropEnabled]="true" 
	[stickToClosestElement]="true" 
	(hasMoved)="hasMoved = $event">

	<ng-template #contentTemplate let-data="data">
		<div class="container" (click)="log(data)">
			<p>I am {{data}}</p>
		</div>
	</ng-template>

	<ng-template #placeholderTemplate>
		<div class="container">
			<p>This should be a name</p>
		</div>
	</ng-template>

	<ng-template #leftButtonTemplate> &lt; </ng-template>
	<ng-template #rightButtonTemplate> &gt; </ng-template>

</ng-generic-carousel>